.DS_Store
Pods
*.xcworkspace
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# LetsDoThis

Lets\ Do\ This/keys.plist
Lets\ Do\ This/environment.plist
Lets\ Do\ This/Resources/Fonts

# React Native

node_modules/
npm-debug.log
Lets\ Do\ This/main.jsbundle

# New Relic
upload_dsym_results
